:root {
    --colorPrimary: #ff5722;
    --colorSecondary: #fff;
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  /* place-content: align-content + justify-content */
}
h1 {
   width: 150px;
   background-color: var(--colorPrimary);
   padding: 20px;
   color: var(--colorSecondary);
   position: relative;
   text-align: center;
}
h1::after,
h1::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: var(--colorPrimary);
   z-index: -1;
}
h1::after {
   transform: skew(10deg, 10deg);
   -webkit-transform: skew(10deg, 10deg);
   -moz-transform: skew(10deg, 10deg);
   -ms-transform: skew(10deg, 10deg);
   -o-transform: skew(10deg, 10deg);
}
h1::before {
   transform: skew(-10deg, -10deg);
   -webkit-transform: skew(-10deg, -10deg);
   -moz-transform: skew(-10deg, -10deg);
   -ms-transform: skew(-10deg, -10deg);
   -o-transform: skew(-10deg, -10deg);
}
