* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 250px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-e,
.box-l {
    width: 80px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-template-rows: repeat(7, 20px);
    margin: 0 10px;
    position: relative;
}
.one,
.five {
    background-color: #323234;
    grid-area: 1 / 1 / 8 / 2;
}
.two {
    background-color: #323234;
    grid-area: 1 / 2 / 2 / 5;
}
.three {
    background-color: #323234;
    grid-area: 4 / 2 / 5 / 5;
}
.four,
.six {
    background-color: #323234;
    grid-area: 7 / 2 / 8 / 5;
}
.square-e,
.square-l {
    width: 20px;
    height: 20px;
    background-color: #ff9800;
    border: 3px solid #323234;
}
/* BOX-E ==> square-E */
.square-e {
    position: absolute;
    top: 0;
    left: 60px;
    animation-name: square-one;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes square-one {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    7.33% {
        transform: translate(-60px);
        -webkit-transform: translate(-60px);
        -moz-transform: translate(-60px);
        -ms-transform: translate(-60px);
        -o-transform: translate(-60px);
}
    14.6% {
        transform: translate(-60px, 60px);
        -webkit-transform: translate(-60px, 60px);
        -moz-transform: translate(-60px, 60px);
        -ms-transform: translate(-60px, 60px);
        -o-transform: translate(-60px, 60px);
}
    21.62% {
        transform: translate(0, 60px);
        -webkit-transform: translate(0, 60px);
        -moz-transform: translate(0, 60px);
        -ms-transform: translate(0, 60px);
        -o-transform: translate(0, 60px);
}
    28.63% {
        transform: translate(-60px, 60px);
        -webkit-transform: translate(-60px, 60px);
        -moz-transform: translate(-60px, 60px);
        -ms-transform: translate(-60px, 60px);
        -o-transform: translate(-60px, 60px);
}
    35% {
        transform: translate(-60px, 120px);
        -webkit-transform: translate(-60px, 120px);
        -moz-transform: translate(-60px, 120px);
        -ms-transform: translate(-60px, 120px);
        -o-transform: translate(-60px, 120px);
}
    42% {
        transform: translate(0, 120px);
        -webkit-transform: translate(0, 120px);
        -moz-transform: translate(0, 120px);
        -ms-transform: translate(0, 120px);
        -o-transform: translate(0, 120px);
}
    49% {
        transform: translate(-60px, 120px);
        -webkit-transform: translate(-60px, 120px);
        -moz-transform: translate(-60px, 120px);
        -ms-transform: translate(-60px, 120px);
        -o-transform: translate(-60px, 120px);
}
    56% {
        transform: translate(-60px, 0);
        -webkit-transform: translate(-60px, 0);
        -moz-transform: translate(-60px, 0);
        -ms-transform: translate(-60px, 0);
        -o-transform: translate(-60px, 0);
}
    63% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
    100% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
}
/* BOX-L ==> square-L */
.square-l {
    position: absolute;
    bottom: 0;
    left: 60px;
    animation-name: square-two;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    
}
@keyframes square-two {
    0% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        opacity: 0;
}
    3% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        opacity: 1;
}
    8.33% {
        transform: translate(-60px, 0);
        -webkit-transform: translate(-60px, 0);
        -moz-transform: translate(-60px, 0);
        -ms-transform: translate(-60px, 0);
        -o-transform: translate(-60px, 0);
}
    
    16.66% {
        transform: translate(-60px, -120px);
        -webkit-transform: translate(-60px, -120px);
        -moz-transform: translate(-60px, -120px);
        -ms-transform: translate(-60px, -120px);
        -o-transform: translate(-60px, -120px); 
}
    24.99% {
        transform: translate(-60px, -120px);
        -webkit-transform: translate(-60px, -120px);
        -moz-transform: translate(-60px, -120px);
        -ms-transform: translate(-60px, -120px);
        -o-transform: translate(-60px, -120px);
        opacity: 1;
}
    33.32% {
        transform: translate(-60px, -120px);
        -webkit-transform: translate(-60px, -120px);
        -moz-transform: translate(-60px, -120px);
        -ms-transform: translate(-60px, -120px);
        -o-transform: translate(-60px, -120px);
        opacity: 0;
}
    100% {
        transform: translate(-60px, -120px);
        -webkit-transform: translate(-60px, -120px);
        -moz-transform: translate(-60px, -120px);
        -ms-transform: translate(-60px, -120px);
        -o-transform: translate(-60px, -120px);
        opacity: 0;
}
}