/* ----- 1 ----- */
.box-1 {
    width: 300px;
    height: 200px;
    background-color: #EEEEEE;
    border: 1px solid #d8d2d2;
    font-size: 50px;
    color: #03A9F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    
}
.box-1::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #03A9F4;
    top: 0;
    left: 0;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    z-index: -1;
}
.box-1::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #E91E63;
    top: 0;
    left: 0;
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    z-index: -2;
}

/* ----- 2 ----- */

.box-2 {
    width: 200px;
    height: 200px;
    background-color: #EEEEEE;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.box-2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    top: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: #E91E63 #E91E63 #E91E63 #fff;
    border-style: solid;
    border-width: 5px;
}
.box-2::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    border-color: #03A9F4 #fff #03A9F4 #03A9F4;
    border-style: solid;
    border-width: 10px;
}

/* ----- 3 ----- */

.box-3 {
    width: 200px;
    height: 200px;
    background-color: #EEEEEE;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box-3::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    top: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: #E91E63 #E91E63 #E91E63 #fff;
    border-style: solid;
    border-width: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.box-3::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    border-color: #03A9F4 #fff #03A9F4 #03A9F4;
    border-style: solid;
    border-width: 10px;
    transition: .5s ease .5s;
    -webkit-transition: .5s ease .5s;
    -moz-transition: .5s ease .5s;
    -ms-transition: .5s ease .5s;
    -o-transition: .5s ease .5s;
}
.box-3:hover::after,
.box-3:hover::before {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}