.class {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    background-color: aqua;
    transform: matrix(3, 0.2679, 0, 3, 20, 100);
    -webkit-transform: matrix(3, 0.2679, 0, 3, 20, 100);
    -moz-transform: matrix(3, 0.2679, 0, 3, 20, 100);
    -ms-transform: matrix(3, 0.2679, 0, 3, 20, 100);
    -o-transform: matrix(3, 0.2679, 0, 3, 20, 100);

    /* transform: translateX(20px) translateY(100px) scaleX(3) skewY(15deg) skewX(0deg) scaleY(3); */
}