/* Root Element */
html {
    font-size: 20px;
}
/* ---------- 1 ---------- */
div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}
.one {
    padding: 20px;
    border: 2px solid #ff5d2a;
}
.one p {
    background-color: #dddddd;
    padding: inherit;
    border: inherit;
}
.two {
    padding: 20px;
    border: 2px solid #099A8C;
}
.two p {
    background-color: #dddddd;
    padding: inherit;
    border: inherit;
}

/* ---------- 2 ---------- */
.font-1,
.font-2,
.font-3 {
    font-size: 80px;
    text-align: center;
    margin: 40px 0;
}
.font-1 {
    font-family: 'Open Sans', sans-serif; /* 300 italic  */
}
.font-2 {
    font-family: 'Cairo', sans-serif; /* Bold 700 */
}
.font-3 {
    font-family: 'Jomhuria', cursive; /* Regular 400 */
}

/* ---------- 3 ---------- */
.size-1,
.size-2,
.size-3 {
    text-align: center;
}
.size-1 {
    font-size: 2.5rem; /* 50px */
}
.size-2 {
    font-size: 2rem; /* 40px */
}
.size-3 {
    font-size: 1.5rem; /* 30px */
}