* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------- 1 ---------- */
div.element {
    overflow: hidden;
    width: 450px;
    margin: 20px auto;
}
div.test {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 3px solid black;
    margin: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 
        5px 5px 0 0 #E91E63,
        -5px -5px 0 0 #2196F3;
    position: relative;
    line-height: 4;
    font-weight: bold;
}
div.test span {
    display: inline-block;
    background-color: #000;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 32px;
}

/* ---------- 2 ---------- */
hr {
    clear: both;
}
div.box {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 30px auto;
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px 20px;
    box-shadow: 0px 0px 10px 1px #000 inset;
}

/* ---------- 3 ---------- */
.parent {
    width: 550px;
    margin: 20px auto;
    overflow: hidden;
    font-size: 18px;
}
.one,
.two {
    width: 250px;
    text-align: center;
    background-color: #eee;
    padding: 15px;
}
.active {
    background-color: #03A9F4;
    float: left;
    width: 4px;
    margin-left: 23px;  /* ( 23+23+4=50px ==> 50px + 250px + 250px ) = (550px) */
    margin-right: 23px;
    height: 325px;
    line-height: 18;
}
.active span {
    display: inline-block;
    background-color: #03A9F4;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    text-align: center;
    line-height: 1.5;
    margin-left: -13px;
}
.one {
    float: left;
}
.two {
    float: left;
}
.one p,
.two p {
    background-color: #03A9F4;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.parent .one div,
.parent .two div {
    font-weight: bold;
    font-size: 25px;
    background-color: #DDDDDD;
    width: 220px;
    height: 220px;
    line-height: 9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}