/* ----------- 1 ----------- */
.parent .child .title {
    color: red;
}
.parent .title {
    color: blue;
}
/* 
.parent p {
    color: green;
}
.title {
    color: green;
} 
*/
/* or : جمع الألوان المتشابهه مع بعضها */
.parent p,
.title {
    color: green;
}

/* ----------- 2 ----------- */
.one,
.two,
.three,
.four {
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    max-height: 50px;
    overflow: hidden;
}